@{
    ViewData["Title"] = "Login";
}

<h2 class="mt-2 bg-gradient">Lütfen Giriş Yapınız  ^^</h2>

<div class="text-center" style="padding: 10px; margin: 1rem">
    <h1 class="align-items-md-start;">Giriş</h1>
    <form style="display: flex" id="login" class="text-center form-control" action="/Home/Index" method="post">

        <input id="login" type="text" name="email" class="form-control" placeholder="name@example.com" />
        <input type="password" name="sifre" class="form-control" placeholder="Şifre" id="login" />

        <div id="login" class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me">
            <label class="form-check-label">
                Beni Hatırla
            </label>
        </div>
        <div id="login">
            <input class="bg-info-subtle" style="width: 100px;" type="submit" value="Giriş Yap" />
        </div>
    </form>
    <p class="mt-2 text-center">© 2025–09-19</p>
</div>