@{
    ViewData["Title"] = "Login";
}

<h2 class="bg-primary-subtle">Lütfen Giriş Yapınız ^^</h2>

<div class="text-center" style="padding: 10px; margin: 2rem">
    <h1 class="align-items-md-start;">Giriş</h1>
    <form action="/Home/Index" method="post">
        <h6>Email</h6>
        <input type="text" name="email" placeholder="Mail" required />
        <h6>Şifre</h6>
        <input type="password" name="sifre" placeholder="Şifre" /> @*style olarak hover ile renklendirme ata*@
        <br />
        <br />
        <input class="bg-info-subtle" style="width: 100px;" type="submit" value="Gönder" />
    </form>
</div>