@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <h3>KİŞİSEL VERİLERİN KORUNMASI POLİTİKASI</h3>
    <p>Bu projedeki tüm haklar saklıdır</p>
    <p>
        İşbu metin, 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) uyarınca kişisel verilerin işlenmesine yönelik Sitemiz (“Sitemiz”) olarak areas.org.tr adresli internet sitemiz aracılığıyla işlenen verilere yönelik kullanıcılarımızın gizlilik ve güvenlik politikamızı öğrenmeleri amacıyla hazırlanmıştır. İşbu metinde belirtilen Veri Sorumlusu, _____ vergi numarası ile kayıtlı, “_ Cad. _ Mah. No:_ Kat:_ _ / _“ adresinde mukim Sitemiz ‘dir.
    </p>
    <p>
        areas.org.tr adresli internet sitemizde verilen tüm hizmetler ve sunulan tüm servisler  Sitemiz‘e aittir ve İyilik Yolu Derneği tarafından yönetilmektedir.
    </p>
    <p>
        Sitemiz, çeşitli amaçlarla kişisel veriler toplayabilir. Aşağıda, toplanan kişisel verilerin nasıl ve ne şekilde toplandığı, bu verilerin nasıl ve ne şekilde korunduğu belirtilmiştir.
    </p>
    <p>
        İnternet sitesi kullanımının sağlanması, üyelik kaydının oluşturulması, internet sitesinin optimizasyonunun sağlanması, kullanıcı memnuniyetinin arttırılması, istatistiki verilerin elde edilmesi, geliştirmelerin gerçekleştirilmesi, ihtiyaç duyulan güncellemelerin tespit edilmesi ve buna uygun olarak hazırlanması amacı ile ad-soyad, kimlik numarası, uyruk, doğum tarihi, cinsiyet, medeni hali, telefon numarası, e-posta adresi gibi kişisel verileri Kanun’da belirtilen sınırlar çerçevesinde hukuka , dürüstlük kurallarına uygun ve işbu amaçlarla her daim bağlantılı, sınırlı ve ölçülü şekilde işlenmektedir.
    </p>
    <p>
        Sitemiz kullanıcılarına telefon, e-posta vasıtası ile bildirimler gönderebilir. Bu gibi bildirimleri alıp almama konusunda her türlü seçimi kullanıcı internet sitesini kullanmaya başlarken yapabilir, sonrasında bu seçimi derneğimize başvurarak her zaman değiştirebilir.
    </p>
    <p>
        İnternet sitesi ile ilgili sorunların tanımlanması ve verilen hizmet ile ilgili çıkabilecek sorunların veya uyuşmazlıkların hızla çözülmesi için, Sitemiz, kullanıcıların IP adresini kaydetmekte ve bunu kullanmaktadır. IP adresleri, kullanıcıları genel bir şekilde tanımlamak ve istatistiki veriyi elde etmek için işlenmektedir.
    </p>
    <p>
        Kişisel bilgiler, gerektiğinde kullanıcıyla temas kurmak için kullanılabilir. Sitemiz tarafından talep edilen bilgiler veya kullanıcı tarafından sağlanan bilgiler veya internet sitesi üzerinden yapılan işlemlerle ilgili bilgiler; Sitemiz ve işbirliği içinde olduğu kişiler tarafından, "Üyelik Sözleşmesi" ile belirlenen amaçlar ve kapsam dışında da, kullanıcıların kimliği ifşa edilmeden çeşitli istatistiksel değerlendirmeler, veri tabanı oluşturma ve pazar araştırmalarında kullanılabilir.
    </p>
    <p>
        Sitemiz, gizli bilgileri kesinlikle özel ve gizli tutmayı, bunu bir sır saklama yükümü olarak addetmeyi ve gizliliğin sağlanması ve sürdürülmesi, gizli bilginin tamamının veya herhangi bir kısmının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir kişiye ifşasını önlemek için gerekli tüm tedbirleri almayı ve gerekli özeni göstermeyi taahhüt etmektedir.
    </p>
    <p></p>
    <h3>ÜÇÜNCÜ TARAF WEB SİTELERİ VE UYGULAMALAR</h3>
    <p>
        Sitemiz, internet sitesi dâhilinde başka sitelere link verebilir.Sitemiz, bu linkler vasıtasıyla erişilen sitelerin gizlilik uygulamaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır. Sitemiz’e ait sitede yayınlanan reklamlar, reklamcılık yapan iş ortaklarımız aracılığı ile kullanıcılarımıza dağıtılır. İş bu sözleşmedeki Gizlilik Politikası Prensipleri, sadece Sitemiz’e ait internet sitesinin kullanımına ilişkindir, üçüncü taraf web sitelerini kapsamaz.
    </p>
    <p></p>
    <h3>İSTİSNAİ HALLER</h3>
    <p>
        Aşağıda belirtilen sınırlı hallerde Sitemiz, işbu "Gizlilik Politikası" hükümleri dışında kullanıcılara ait bilgileri üçüncü kişilere açıklayabilir. Bu durumlar sınırlı sayıda olmak üzere;
    </p>
    <p>
        Kanun, Kanun Hükmünde Kararname, Yönetmelik v.b. yetkili hukuki otorite tarafından çıkarılan ve yürürlülükte olan hukuk kurallarının getirdiği zorunluluklara uymak;
        İnternet sitesinin kullanıcılarla akdettiği "Üyelik Sözleşmesi"''nin ve diğer sözleşmelerin gereklerini yerine getirmek ve bunları uygulamaya koymak amacıyla;
        Yetkili idari ve adli otorite tarafından usulüne göre yürütülen bir araştırma veya soruşturmanın yürütümü amacıyla kullanıcılarla ilgili bilgi talep edilmesi;
        Kullanıcıların hakları veya güvenliklerini korumak için bilgi vermenin gerekli olduğu hallerdir.
        Sitemiz, işbu "Gizlilik Politikası" hükümlerini dilediği zaman sitede yayınlamak veya kullanıcılara elektronik posta göndermek veya sitesinde yayınlamak suretiyle değiştirebilir. Gizlilik Politikası hükümleri değiştiği takdirde, yayınlandığı tarihte yürürlük kazanır.
    </p>
    <p></p>
    <h3>
        Gizlilik politikamız ile ilgili her türlü soru ve önerileriniz için iletisim@areas.org.tr adresine email gönderebilirsiniz.
    </h3>
</div>