html {
  font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  
}

body {
    margin-bottom: 30px;
    background-color: #ac40d5;
    font-family: Gabriola;
    font-size: 20px;
    font-style: italic;
    object-fit: contain;
    max-height: 100%
}

#admin {
    background-color: #aa7dbb;
    margin-bottom: 30px;
    object-fit: contain;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

li{
    margin: 5px;
}
h2 {
    text-align: center;
    padding: 2rem;
    color: darkred;
}
h4{
    color: seashell;
    font-family: 'Bookman Old Style'
}
h1{
    color: aliceblue
}
input{
    height: 50px;
    width: 15em;
}
a {
    color: darkblue;
    font-size: larger;
}
.create {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px;
    padding-inline-start: 3px;
    outline: dashed 2px darkblue;
    font-size : larger;
}
.foot {
    display: grid;
    justify-content: center
}

p {
    font-size : larger;
    color: darkred;
}

h3{
    color: darkblue;
    font-size: 30px;
    text-align: center
}