@model MVCStockAreas.Models.Product

@{
    ViewData["Title"] = "Düzenle";
}

<h4>Düzenle</h4>
<hr />
<div class="row table-hover" style="justify-content: center;">
    <div class="col-md-7 bg-gradient">
        <form class="create" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" /> @*Elementi gizleme işlemi*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" /> @*gönderilen tip seçim blok açar*@
                <span asp-validation-for="Image" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="~/Images/@Model.Image" alt="@Model.Name" height="80" />
                }
            </div>
            <div class="form-group">
                <label asp-for="RecordDate" class="control-label"></label>
                <input asp-for="RecordDate" class="form-control" />
                <span asp-validation-for="RecordDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-3">
                <input type="submit" value="Kaydet" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-lg foot" asp-action="Index">Listeye Geri Dön</a>
</div>